html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

#scene {
  position: relative;
  width: 100%;
  height: 100%;
}

/* TEXT */
#text {
  position: absolute;
  top: 6%;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: pink;
  text-shadow: 0 0 12px rgba(255,180,200,0.8);
  z-index: 3;
}

/* CANVAS */
canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

/* áº¢NH BAY */
#photos {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.photo {
  position: absolute;
  width: 82px;
  height: 82px;
  border-radius: 14px;
  object-fit: cover;
  opacity: 0.85;
  animation: flyUp linear forwards;
}

@keyframes flyUp {
  from {
    transform: translateY(110%);
    opacity: 0;
  }
  to {
    transform: translateY(-140%);
    opacity: 1;
  }
}
