html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* GIỮ XOAY */
#rotate-wrapper {
  position: fixed;
  width: 100vh;
  height: 100vw;
  top: 0;
  left: 0;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
}

#scene {
  position: relative;
  width: 100%;
  height: 100%;
}

/* TEXT */
#text {
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: pink;
  z-index: 3;
}

/* CANVAS – KHÔNG NỚI QUÁ */
canvas {
  position: absolute;
  inset: -8%;
  width: 116%;
  height: 116%;
  z-index: 2;
  pointer-events: none;
}

/* PHOTOS */
#photos {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.photo {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 14px;
  object-fit: contain;
  animation: flyUp linear forwards;
}

@keyframes flyUp {
  from {
    transform: translateY(120%);
    opacity: 0;
  }
  to {
    transform: translateY(-140%);
    opacity: 1;
  }
}
