html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

/* SCENE */
#scene {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

/* CANVAS TRÁI TIM */
canvas {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 45%;
  z-index: 2;
  pointer-events: none;
}

/* TEXT */
#text {
  position: absolute;
  bottom: 12%;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: pink;
  text-shadow: 0 0 12px rgba(255,180,200,0.8);
  z-index: 4;
}

/* ẢNH */
#photos {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  z-index: 1;
  pointer-events: none;
}

.photo {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 14px;
  object-fit: cover;
  opacity: 0.85;
  animation: flyUp linear forwards;
}

@keyframes flyUp {
  from {
    transform: translateY(120%);
    opacity: 0;
  }
  to {
    transform: translateY(-160%);
    opacity: 1;
  }
}
