html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

#scene {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ẢNH PHÍA TRÊN */
#photos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35%;
  z-index: 1;
  pointer-events: none;
}

/* TRÁI TIM */
canvas {
  position: absolute;
  top: 28%;
  width: 100%;
  height: 45%;
  z-index: 2;
  pointer-events: none;
}

/* CHỮ PHÍA DƯỚI */
#text {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: pink;
  text-shadow: 0 0 12px rgba(255,180,200,0.8);
  z-index: 3;
}

/* ẢNH */
.photo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 14px;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 0.9;
  }
}
